{% extends "reservation/base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <h3>Ваши заведения:</h3>
          <ul>
            {% for organisation in user.organisations_owned.all %}
              <li><a href="{% url 'org_profile' organisation.id %}">{{ organisation.name }} - {{ organisation.address }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- Здесь будет форма -->
    </div>
{% endblock content %}